[submodule "ffmpeg"]
	path = ffmpeg
	url = git://github.com/acharneski/FFmpeg.git
[submodule "speex"]
	path = speex
	url = http://git.xiph.org/speex.git
[submodule "theora"]
	path = theora
	url = git@github.com:acharneski/theora.git
[submodule "opus"]
	path = opus
	url = git@github.com:acharneski/opus.git
[submodule "vorbis"]
	path = vorbis
	url = git@github.com:acharneski/vorbis.git
[submodule "libvpx"]
	path = libvpx
	url = git@github.com:acharneski/libvpx.git
